
body {
     
     font-size: 18px;
}


.olade {
  height: 250px;
} 

.general {
    display: flex;
}

.oladi {
  height: 250px;
  left: 55%;
  position: absolute;
} 

.world {
    margin-left: 110px;
}

.online {
    font-size: 20px;
}

.why-choose-a {
   height: auto;
   background-color:  hsl(220, 16%, 96%);
   padding-top: 10px;
}

.why-choose-c {
    
        height: auto;
        background-color: hsl(0, 0%, 98%);
     
}

.top1{
    width: 10rem;
    border-radius: 22px;
     justify-content: center; 
    background-color: hsl(136, 65%, 51%);
    padding-left: 10px; 
    color: rgb(255, 255, 255);
    height: 2.5rem;
    padding-bottom: 1rem;
    text-align: center;
    align-items: center;

    
}

.top2{
    padding-top: 10px;
    color: white;   
}

p {
    color:  hsl(233, 8%, 62%);
}

.currency {
    height: 7rem;
    border-radius: 5px;
}

.kilo{
     background-color:  hsl(233, 26%, 24%); 

}
.text-center {
    color: rgb(255, 255, 255);
}


.desti-card .card-title {
    margin-block: 15px 5px;
    transition: var(--transition-1);

} 

